{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "windows"]
  }
}
